.contact-page header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../utils/img/contact.jpg);
  height: 50vh;
}
.btn
{
  background-color: #995f5f;
  
  color:#fff;

}